/*FUENTES  
Raleway = font-family: 'Raleway'
PT Sans = font-family: 'PT Sans'
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'PT Sans', sans-serif;
}

html {
    font-size: 62.5%;
}