/*------------- SERVICIOS ------------ */


.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    p {
        width: 60%;
    }

    img {
        width: 30rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .servicios__titulosH1 {
        font-size: 40px;
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 4rem 0rem 0rem 0rem;
        color: black;
        border-radius: 5px;
    }
    
    .servicios__titulosH2Uno,
    .servicios__titulosH2Dos {
        font-size: 35px;
        color: black;
        background-color: rgba(192, 85, 85, .6);
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }

    .servicios__servicioUno,
    .servicios__servicioDos {
        display: flex;
        flex-direction: column;
        width: 40%;
        border-right: 9px solid rgb(107, 107, 107);
        align-items: center;
    } 
    .servicios__servicioDos{
        border: none;
        border-left: 9px solid rgb(107, 107, 107);
    }

}



/* ----------------------------------- */